#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 10%;
  font-family: "Ubuntu", sans-serif;
  font-size: x-large;
}

.my-navbar-link {
  font-family: "Ubuntu", sans-serif;
  font-size: x-large;
}
.title-image {
  transform: rotate(20deg);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
